ipykernel
numpy
matplotlib
pandas==1.5.0
scipy
tqdm
xlrd
scipy
psutil
biopython
pysam
tenacity
abricate==1.0.1
blast==2.13.0
cd-hit==4.8.1
diamond==2.1.3
ete3==3.1.2
fastqc==0.11.9
flye=2.9
iqtree==2.2.2.3
isescan==1.7.2.3
#kraken2==2.1.2
mafft==7.520
mcl==14.137
mlst==2.19.0
multiqc==1.10
#ncbi-amrfinderplus==3.10.40
ncbi-amrfinderplus==3.11.14
parasail-python
prokka==1.14.6
#quast==5.2.0
fasttree
#roary==3.13.0
#shovill==1.1.0
skesa==2.5.1
spades==3.15.5
sra-tools==3.0.3
##shovill dependencies
#megahit
#bwa
#flash
#kmc
#lighter
#pilon
#trimmomatic
seqtk
samtools==1.14
bcftools==1.14
samclip
mash
fastp
#panaroo
#PIRATE
#aspera-connect
fasttree==2.1.11
snp-sites==2.5.1
bcbio-gff==0.7.1
roary
